.mainDiv{
    display: flex;
    background: #6aadd0;
    padding-top: 85px;
}
.dayBlock{
    width: 300px;
    height: 100%;
    margin: 10px 3%;
    background: #88ccd0;
    padding: 0px 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 1px 1px 2px 2px #649ea9;
    transform: translate(0px, 0px);
}
p.date {
    font-size: 26px;
    color: azure;
    font-weight: bold;
    border-bottom: 2px solid #59b5b9;
    box-shadow: 0px 0 black;
}
p.day{
    font-weight: bold;
}
p.temp,p.day{
    margin-bottom: 5px;
}
span.caption{
    color: #fff;
}
span.tempSub {
    font-size: 26px;
    font-weight: bold;
    color: #fff;
}
span.subsidiary{
    color: #777;
}

body {
    background: #77bbc7;
}

/* MediaQueries */
@media (min-width: 300px) and (max-width: 414px){
    .mainDiv{
        display: block;
    }
    .dayBlock{
        width: auto;
    }
}