/* @import "~@angular/material/prebuilt-themes/indigo-pink.css";
html{
    background: #77bbc7;
}
.alertsContainer .alertsRow.warn .messagepanel {
    height: 51px !important;
    padding: 15px !important;
}
.alertsContainer .material-icons {
    padding-top: 0px !important;
}

.button{
    border-radius: 5px;
    font-size: 16px;
    background: #538588;
    color: #fff;
    height: 33px;
    border: 1px solid #94a4bd;
}
.button:hover{
     background: #5e9598;
    box-shadow: 2px 2px 4px 0px #5c898c;
    transition: all 0.3s ease;
    cursor: pointer;
}
.radioLab {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radioLab input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.radioLab:hover input ~ .checkmark {
    background-color: #ccc;
}

.radioLab input:checked ~ .checkmark {
    background-color: #73c5ca;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radioLab input:checked ~ .checkmark:after {
    display: block;
}

.radioLab .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
} */
