<app-overlay *ngIf="!cityEntered"></app-overlay>
<div class="title">
    <h1 style="color: azure;margin:0;">WeatherTips</h1>
</div>
<div *ngIf="cityEntered" class="mainDiv">
    <div class="divInput">
        <app-search></app-search>
      </div>
  <div class="weatherBlock">
      <h1>Weather in {{bindedCity}}</h1>
      <p class="temp"><span>{{myWeather.temp}}&deg;</span></p>
      <div class="weatherIcon">
          <img src='http://openweathermap.org/img/w/{{myWeather.icon}}.png' alt="">
      </div>
      <p class="pressure"><span>pressure: </span><span>{{myWeather.pressure}} hPa</span></p> 
      <p class="humidity"><span>humidity: </span><span>{{myWeather.humidity}}%</span></p>
  </div>
  <div class="forecastButton">
        <!-- (click)="showForcast()"  -->
      <button (click) ="displayForcast = true" class="button">Get 5-day forecast</button>
  </div>
</div>
<app-week-weather *ngIf="displayForcast"></app-week-weather>
